//Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//Colors
$text: #fff;
$color_primary: #fff;
$color_secondary: #482e3e;
$color_foo: #69495E;

$input-width: 150px;

a.signup-form-switch{
    color: $color_secondary;
    text-decoration: none;
}
a.signup-form-switch:hover{
    color: $color_foo;
    transition: .3;
}
a.signup-form-switch:focus{
    border-bottom: 2px solid $color_foo;
    display: inline-block;
    line-height: 0.85;
    text-shadow:
      2px 2px white,
      2px -2px white,
      -2px 2px white,
      -2px -2px white;
}



@mixin submit-button {
    margin-top: 1rem;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    background-color: $color_foo;
    color: $text;
    padding: .6rem 1rem;
}

@mixin submit-button-hover {
    background-color: $color_secondary;
    transition: .3s ease-in-out;
    cursor: pointer;
}

@mixin form-textlike-input {
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    background-color: $color_foo;
    color: $text;
    width: 20vw;
    height: 3.4rem;
    padding: .8rem 1rem;
    font-family: "Source Code Pro", Roboto, Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
}

@mixin form-textlike-input-focus {
    border-style: solid;
    border-width: 5px;
    border-color: $color_secondary;
    padding: calc(.8rem - 5px) calc(1rem - 5px);
}

@mixin form-textlike-input-label {
    text-align: left;
    padding-left: 1rem;
}