@import "_variables";

.login-form-text{
    font-size: 1.2rem;
}

main.main-center{
    display: flex;
    justify-content: center;
    text-align: center;
}

.login-form-text,
.signup-form-text{
    @include form-textlike-input-label;
}

input.login-form-input,
input.signup-form-input{
    @include form-textlike-input;
}

input.login-form-input:focus,
input.signup-form-input:focus{
    @include form-textlike-input-focus;
}

span.login-form-hint,
span.signup-form-hint{
    color: grey;
}

form.form{
    margin-bottom: 3rem;
}

button.login-submit-button,
button.signup-submit-button{
    @include submit-button;
}

button.login-submit-button:hover,
button.login-submit-button:focus,
button.signup-submit-button:hover,
button.signup-submit-button:focus{
    @include submit-button-hover;
}


//Profile page
div.all-orders{
    display: flex;
    justify-content: space-around;
}

div.order-card{
    background-color: $color_primary;
    width: 30%;
    border-style: solid;
    border-width: 5px;
    border-color: $color_secondary;
    border-radius: 15px;
    padding: 5px;
    flex-wrap: wrap;

    div.ItemMenge{
        display: flex;
        justify-content: space-evenly;
    }
    div.meineBestellungen{
        text-align: center;
    }
    div.gesamtpreis{
        display: flex;
        justify-content: space-between;
    }
}

//Profil löschen button
button.delete-profile{
    cursor:pointer;
    @include submit-button;
}
button.delete-profile:hover{
    @include submit-button-hover;
}

//Profilinfo
div.kundeninfo{
    border-style: solid;
    border-width: 5px;
    border-color: $color_secondary;
    border-radius: 15px;
    padding: 5px;
    p{
        margin: 0.3rem; 
    }
}